.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
.nav-bar {
    display: flex; /* make nav bar horizontal rather than vertical */
}
.tab { /* tab only exist within nav-bar, so it's ok to not use --> .nav-bar > tab {} */
    padding-left: 46%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tab.extra { /* over the previous attribute (.tab) */
	padding-left: 5%;
}
.main-body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-top: 15px;
    padding-left: 27%;
    padding-right: 15%;
}
p {
    line-height: 32px;
}