.header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.main-nav-bar { /* for main-nav-bar */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Raleway', sans-serif;
    padding-top: 15px;
    padding-left: 15px;
}
.main-nav-bar a {
    font-size: 18px;
    color: rgb(0,0,0);
    padding: 10px 12px;
    text-decoration: none;
}
.main-nav-bar a.active {
    background-color: rgb(0, 0, 0);
    color: white;
}
.main-nav-bar a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.second-nav-bar {
    display: flex; /* make nav bar horizontal rather than vertical */
    justify-content: center;
    padding-bottom: 2%;
}
.tab {
    padding-right: 2%;
}

.main-body {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    padding-top: 1%;
    padding-left: 27%;
    padding-right: 15%;
}
p {
    line-height: 32px;
}

.img-container {
    display: grid;
    /* position: relative; */
    padding-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(370px,auto));
    grid-gap: 2%;
    justify-content: space-evenly; /* change space around elements horizontally when browswer size changes*/
    align-items: center; /* center vertically */
}
.img-container > div {
    /* image caption font */
    font-family: 'Raleway', sans-serif;
}
.img-child {
    /* to center the images */
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-child:hover {
    opacity: 0.75;
} 

.img-container img {
    width: 90%;
    height: auto;
}

.video-body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 25px;
}
.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    /* position: relative; */
    /* position: relative; make embeded videos responsive */
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 25px;
    
    grid-gap: 1%;
    /* justify-content: space-around; change space around elements horizontally when browswer size changes */
    /* align-items: center; center vertically */
}
.video-container iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
}
/* .video-container iframe:hover {
    opacity: 0.99;
} */

.project-container {
    display: grid;
    /* position: relative; */
    margin-top: 30px;
    margin-left: 25px;
    grid-template-columns: repeat(auto-fill, minmax(370px,auto));
    grid-gap: 2%;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-template-rows: 300px 30px;
}
.project img {
    width: 100%;
    height: auto;
}
.project-img {
    
}
.project-blurb {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 21px;
    padding-top: 1%;
}
.project-blurb > .title {
    font-size: 17px;
    line-height: 24px;
}
.project-blurb > .description {
    font-style: italic;
}


.modal-body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
.modal-body img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 11px;
    width: 100%;
}
.modal-body video {
    /* center video */
    display: block;
    margin: auto;
}

#backToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #436068;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;

}
#backToTopButton:hover {
    background-color: #555;
}